<script src="/js/application.js"></script>
<div class="container">
    <h1>Ruby Racer SON! v.1.0</h1>
    <p>Instructions:</p>
    <p>Start Game - Press Enter</p>
    <p>Restart Game - Press Space</p>
    <p>Move Mario - Press 'q'</p>
    <p>Move Sonic - Press 'p'</p>
    <table class="racer_table">
      
    </table>
</div>

<script>
  var gameID = <%= @game_id %>
</script>
