<div class="container">
  <form action="/game" method="post">
    <input type="text" name="game[player_number]" placeholder="Number of players"></br>
    <input type="text" name="game[track_length]" placeholder="Number of cells in the track"></br>
    <input type="submit" value="start game">
  </form>
</div>
