<div class="container">
  <form action="/game" method="post">
    <input type="text" name="player1[name]" placeholder="Player1 Name"></br>
    <input type="text" name="player2[name]" placeholder="Player2 Name"></br>
    <input type="text" name="game[track_length]" placeholder="Number of cells in the track"></br>
    <input type="submit" value="start game">
  </form>
</div>
